*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
background: linear-gradient( #0D8F7D 20%, #D0D6D2 20% 100%);
}

.app-container{
  max-width: 1220px;
  min-width: 995px;
  height: 90vh;
  margin: 2.5% auto;
  display:flex;

}

/* SIDEBAR*/

.sidebar{
  width: 35%;
  height: 100%;
}

.user-bar{
  width: 100%;
  height: 80px;
  background-color: #E7E7E7;
}

.notify-bar{
  width: 100%;
  height:90px;
  background-color: #83D6F8;
}

.search-bar{
  width: 100%;
  height: 60px;
  background-color: #FCF9F9;
}
.contact-list{
  width: 100%;
  height: calc(100% - 230px);
  overflow: scroll;
  background-color: white;
}
/* END SIDEBAR*/


/* MAIN*/
.main{

  width: 65%;
}

.top-box{
  width: calc(100% - 2px);
  height: 80px;
  background-color: #E7E7E7;
  border-left: 2px solid #ccc;

}

.main-box{
  width: 100%;
  height: calc(100% - 170px);
  background-image: url("../img/mine.jpg");
}

.bottom-box{
  width: 100%;
  height: 90px;
  background-color: #F1EBE7;
}
/* END MAIN*/
