<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title></title>
  </head>
  <body>

    <!--      WRAPPER     -->
    <div  class="app-wrapper">
      <!--        CONTAINER       -->
      <div id="root" class="app-container ">





        <!--          SIDEBAR         -->
        <div class="sidebar">

          <div class="user-bar">

            <div class="user-left">
              <img class="avatar" src="img/avatar_2.jpg" alt="">
              <span>Nome Utente</span>
            </div>

            <div class="user-right">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>



          <div class="notify-bar">
            <div class="bell">
              <i class="fas fa-bell-slash"></i>
            </div>
            <div class="text-notify">
              <div class="notify-message">
                Ricevi notifiche di nuovi messaggi
              </div>
              <div class="notify-link">
                <a href="">Attiva notifiche desktop</a>
              </div>
            </div>
          </div>



          <div class="search-bar">
            <div class="input-container">
              <i class="fas fa-search"></i>
              <input @keyup="searchEngine" v-model="searchText" type="text" name=""
              value="" placeholder="Cerca o inizia una nuova chat">
            </div>
          </div>



          <div class="contact-list">
            <div  v-for="(contact,index) in contacts" class="contact"
            @click="whichConv(index), sentReceived(index)" v-if="contact.visible">
              <img class="avatar" :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
              <div class="info-contact">
                <span>{{contact.name}}</span>
              </div>
            </div>




          </div>

        </div>
        <!--          END SIDEBAR         -->




        <!--          MAIN         -->
        <div class="main  ">


          <div class="top-box">
            <div class="top-box-left">
              <img class="avatar" :src="'img/avatar'+contacts[activeConv].avatar+'.jpg'"
              alt="">
              <div class="text-top-box">
                <div class="name-top-box">
                  {{contacts[activeConv].name}}
                </div>
                <div class="access-top-box">
                  Ultimo accesso oggi alle
                </div>
              </div>
            </div>
            <div class="top-box-right">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>



          <div class="main-box  ">
            <div v-for="message in contacts[activeConv].messages" class="chat-container">
              <div :class="sentReceived(message)">
                <span>{{message.text}}</span>
                <div class="date-message">{{message.date}}</div>
              </div>
            </div>
          </div>




          <div class="bottom-box ">
            <div class="icons">
              <i class="far fa-smile"></i>
            </div>
            <div class="text-input">
              <input v-on:keyup.enter="myNewMessage" v-model="chatText"type="text"
              name="" value="" placeholder="Scrivi un messaggio">
            </div>
            <div class="vocal">
              <i class="fas fa-microphone"></i>
            </div>
          </div>
        </div>
        <!--          END MAIN         -->


      </div>
      <!--        END CONTAINER       -->

    </div>
    <!--      END WRAPPER     -->





    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
